
.search-details-box {
  height:100px;
  display: flex;
  background-color: slategray;
  justify-content: center;
  align-items: center;
  padding:1.5rem;
  
}

.search-bar {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

#search-input {
  font-size: 1rem;
  padding: 2px;
  border:none;
  border-bottom: blue solid 3px;
}

#search-input:focus{
  outline:none;
  caret-color: black;
}

#search-btn-input {
  padding: 5px;
  font-size: 1rem;
  border: black solid 1px;
  border-radius: 10px;
  background-color: white;
}

main {
  height: calc(100vh - 100px);
  background-color: darkslategrey;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-details {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.climate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location{
  font-size:2rem;
  font-weight: bold;
}
